:root {
    --main-color: #ababab;
    --sec-color: #e6e6e6;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Unbounded', Sans-Serif;
    font-weight: 800;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: var(--sec-color);
}

.yarik {
    text-align: center;
    padding: 15px;
    background: var(--main-color);
}

.yarik-text {
    color: var(--sec-color);
}

.yarik-main {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.yarik-main img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0 10px 30px rgba(171,171,171,0);
}

.yarik-sec-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.yarik-sec-column img {
    box-shadow: 0 10px 30px rgba(171,171,171,0);

.yarik-sec-text {
    padding: 30px 10px;
    text-align: center;
    background: var(--main-color);
    border-radius: 50px;
    box-shadow: 0 10px 30px rgba(171,171,171,0);
}

.yarik-sec-text a {
    text-decoration: none;
}

.yarik-sec-text h3 {
    color: var(--sec-color);
}
